{% extends 'base.html' %}
{%block body%}

<script>     

function DisableCurso(){
    var objeto = document.getElementById("id_Curso").setAttribute("disabled","disabled");
}

function EnableCurso(){
    var objeto = document.getElementById("id_Curso").removeAttribute("disabled");
}

</script>

<h2> Informe de Apercibimientos para la sesion de avaluación </h2>	
<h6> Este informe genera un pdf con el listado de de los alumnos con 2 o mas apercibimientos poniendo como fecha maxima la indicada en el formulario.  </h6>

<div class="form-group" style="margin-top:30px;margin-left:20px;">
	<form enctype="multipart/form-data" method="post" >
  		{% csrf_token %} 
 	
	<div class="form-group"> <!-- State Button -->
        <label for="id_Mes" class="control-label">Mes</label>
        <select class="form-control" id="id_Mes" name="Mes">
        	{% for ele in mes %}
           <option value="{{ele}}">{{ele}}</option>
           {%endfor%}       
        </select>                    
    </div>  	
  	<div class="form-group"> <!-- State Button -->
        <label for="Ano" class="control-label">Año</label>
        <select class="form-control" id="id_Ano" name="Ano">
        	{% for ele in anos %}
           <option value="{{ele}}">{{ele}}</option>
           {%endfor%}
        </select>                    
    </div> 
    <p></p>
   <b> Filtrar por numeros de apercibimientos. </b>
    <p></p>
    <input type="number" class="form-control" bfh-number name="NumAper" value="2" /> 
    <p></p> 
   <div class="form-check">
        <label>
            <input type="radio" name="TipoInforme"  onclick="DisableCurso()" value="Completo" checked> <span class="label-text">Generar Informe de todos los cursos</span>
        </label>
    </div>
    <div class="form-check">
        <label>
            <input type="radio" name="TipoInforme" onclick="EnableCurso()" value="Individual" > <span class="label-text">Generar informe de un curso</span>
        </label>
    </div>  
     <p></p> 
    <div id="CursoForm"></div> 
    <div class="form-group"> <!-- State Button -->
        <label for="Curso" class="control-label">Cursos</label>
        <select class="form-control" id="id_Curso" name="Curso" disabled>
            {% for ele in curso %}
        <option value="{{ele}}">{{ele}}</option>
        {%endfor%}
        </select>                    
    </div>  


    

     <input type="submit" value="Generar" class="btn btn-default" style="margin-top:10px;"/>
	</form>
</div>

{% if AperCreado %}
<p style="margin-top:10px" >
<a style="margin-left:20px;" href="/static/InformeTodosLosCursos.pdf"> <h3 style="margin-left:20px;" >Descargar Informe</h3> </a> </p>
{% endif %}

<p style="margin-top:10px;" ></p>
<h3 style="margin-left:20px;" >{{Mensaje}}</h3>

{%endblock%}

