<table width="100%" cellpadding="4" cellspacing="0">
	<col width="128*">
	<col width="128*">
	<tr>
		<td colspan="2" width="100%" bgcolor="#dddddd" style="border: 1px solid #000000; padding: 0.1cm">
			<p>Materia : {{Materia}}</p>
		</td>
	</tr>
	<tr>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p>Alumno.</p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<p>Números de Apercibimientos.</p>
		</td>
	</tr>
	{% for ele in data %}
	<tr>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
			<p>{{ele.Alumnos}}</p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0.1cm">
			<p>{{ele.NumAper}} / Percibido los Meses : {{ele.Meses}} </p>
		</td>
	</tr>
	{% endfor %}
</table>
<p style="margin-bottom: 0cm; line-height: 100%"><br/>

</p>