{% extends 'base.html' %}

{% block body %}

<h2> Resumen Alumnos Apercibidos por materia. </h2>	
<h6> Este formulario genera un listado con los Alumnos apercibidos por materia y el numero de apercibimientos desde la fecha introducida. </h6>

<div class="form-group" style="margin-top:30px;margin-left:20px;">
	<form enctype="multipart/form-data" method="post" >
  		{% csrf_token %} 
 	
	<div class="form-group"> <!-- State Button -->
        <label for="id_Mes" class="control-label">Mes</label>
        <select class="form-control" id="id_Mes" name="Mes">
        	{% for ele in mes %}
           <option value="{{ele}}">{{ele}}</option>
           {%endfor%}       
        </select>                    
    </div>
  	
  	<div class="form-group"> <!-- State Button -->
        <label for="Ano" class="control-label">Año</label>
        <select class="form-control" id="id_Ano" name="Ano">
        	{% for ele in anos %}
           <option value="{{ele}}">{{ele}}</option>
           {%endfor%}
        </select>                    
    </div>
        <input type="submit" value="Generar" class="btn btn-default" style="margin-top:10px;"/>
	</form>
</div>

{% if AperCreado %}
<p style="margin-top:10px" ></p>
<a href="/static/report.zip"> <h3>Descargar Informe</h3> </a>
{% endif %}


<p style="margin-top:10px" ></p>
<h3>{{Mensaje}}</h3>

{% endblock %}
