{% extends 'base.html' %}
{%block body%}

<h2> Panel de Modificación de apercibimientos. </h2>
<h6> Este panel permite seleccionar los apercibimientos, permitiendo su busqueda por curso y alumno para ignorar dichos apercibimientos en la generacion de informes. </h6>
 
<div class="form-group" style="margin-top:30px;margin-left:20px;">
        <form enctype="multipart/form-data" method="post" >
              {% csrf_token %} 

<div class="form-group"> <!-- State Button -->
    <label class="control-label">Cursos</label>
    <select class="form-control" id="id_Curso" name="Curso">
        {% for ele in curso %}
       <option  id="BuscarAlumnos" value="{{ele}}">{{ele}}</option>
       {%endfor%}       
    </select> 
</div>

<div class="form-group"> <!-- State Button -->
    <label class="control-label">Alumnos</label>
    <select class="form-control" id="id_Alumno" name="Alumno" disabled="disabled">
        
    </select> 

</div>

<input type="submit" value="Buscar" class="btn btn-default" id="Buscar" style="margin-top:10px;" disabled="disabled">
</form>

<p></p> 
<h3>Modificando Alumno/a : {{Alumno}}</h3>
<h6> Seleccione los apercibimientos del alumno para cambia su estado, los que esten en estado apercibimiento cambiaran a ignorado y viceversa. </h6>

<form enctype="multipart/form-data" method="post" >
    {% csrf_token %} 

<table class="table">
        <thead>
          <tr>
            <th>Materia</th>
            <th>Fecha Inicial</th>
            <th>Fecha Final</th>
            <th>Estado</th>
            <th>Cambiar Estado</th>
          </tr>
        </thead>

        {% for ele in AperIgnorado %}
        <tr>
          <th>{{ele.Materia}}</th>
          <th>{{ele.FechaDesde}}</th>
          <th>{{ele.FechaHasta}}</th>
          <th>{{ele.Estado}}</th>
          <th> <input type="checkbox" id="Aper" class="checkbox" name="{{ele.id}}" value="Apercibimiento" /> </th>
        </tr>
        {%endfor%}

        {% for ele in AperAlumno %}
        <tr>
          <th>{{ele.Materia}}</th>
          <th>{{ele.FechaDesde}}</th>
          <th>{{ele.FechaHasta}}</th>
          <th>{{ele.Estado}}</th>
          <th> <input type="checkbox" id="Aper"  class="checkbox" name="{{ele.id}}" value="Igonorar"  /> </th>
        </tr>
        {%endfor%}

</table>

<input type="submit" value="Cambiar Apercibimientos" class="btn btn-default" id="Ignorar" style="margin-top:10px;" disabled="disabled">
</form>

<script>
// Agregando atributo de bloqueo a los controles con jquery 
$(document).ready(function(){

  $("#Ignorar").attr('disabled','disabled');
  $("#Buscar").attr('disabled','disabled');
  $("#id_Alumno").attr('disabled','disabled');

});
// Creando peticion get a la api para crear 
$("#id_Curso").change(function(){

  var Curso;
  Curso = this.value;

  console.log(Curso);
 
  $.getJSON("/apirest/FaltasAsistencia/?format=json",function(data){

    var Alumnos = [] ;  
    // Comrpobar Duplicados
    Array.prototype.unique=function(a){
    return function(){return this.filter(a)}}(function(a,b,c){return c.indexOf(a,b+1)<0
  });

  $.each(data,function(i,item){
    if (data[i].Curso === Curso){
      Alumnos.push(data[i].Alumno);
    }

  });

  Alumnos = Alumnos.unique();
  var texto = '';

  $.each(Alumnos,function(i,item){
    texto = texto + " " + "<option value=\""+ Alumnos[i]+ "\" id=\"id_Alumno\" "+"\"" + ">" + Alumnos[i] + "</option>";        
    });

  $("#id_Alumno").html("");
  $("#id_Alumno").html(texto);    

  $(document).ready(function(){
    $("#id_Alumno").removeAttr("disabled");
  });  

}); 
 
});

// Desbloqueo boton buscar al seleccionar alumno.

$("#id_Alumno").change(function(){  
  $(document).ready(function(){
      $("#Buscar").removeAttr("disabled");
    });  
});

$(":checkbox").change(function(){  
  $(document).ready(function(){
        $("#Ignorar").removeAttr("disabled");
  });  
});


</script>
            
{%endblock%}
