{% extends 'base.html' %}
{%block body%}
<h2> Carga de datos de Absentismo </h2>	
 
  	 <div class="form-group" style="margin-top:20px">
		<form action="" method="post" enctype="multipart/form-data">
	  		{% csrf_token %} 
		  	{{ form.pdf }}
	        <input type="submit" value="Subir" onclick="MensajeDeTranquilidad()" class="btn btn-default" style="margin-top:10px;"/>
		</form>
	</div>

	<div id="MensajeTranquilidad"  style="margin-top:20px;" >  </div>

<script>


function MensajeDeTranquilidad () {

	var texto = "<h2 style='color:red;' >  !! Se estan procesando los PDF espere a ser rediriguido ¡¡ </h2>" ;
	document.getElementById("MensajeTranquilidad").innerHTML = texto;


}


</script>

{%endblock%}